/* grid */
.foswikiGrid:before,
.foswikiGrid:after,
.foswikiRow:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

/* defaults */
.foswikiCol1, .foswikiCol2, .foswikiCol3, .foswikiCol4, .foswikiCol5,
.foswikiCol6, .foswikiCol7, .foswikiCol8, .foswikiCol9, .foswikiCol10,
.foswikiCol11, .foswikiCol12 {
  float:left;
  height: 100%;
  position:relative;
  min-height:1em;
}

.foswikiGrid .border {
  border-color:#ddd;
  border-style:solid;
  border-left-width:1px;
}

.foswikiCol12 { width: 100%; }

.foswikiGrid h1,
.foswikiGrid h2,
.foswikiGrid h3,
.foswikiGrid h4,
.foswikiGrid h5,
.foswikiGrid h6 {
  /*margin-top:0;*/
}

/* gutter = 0 */
.foswikiGrid.gutter0 .foswikiCol1, .foswikiGrid.gutter0 .foswikiCol2,
.foswikiGrid.gutter0 .foswikiCol3, .foswikiGrid.gutter0 .foswikiCol4,
.foswikiGrid.gutter0 .foswikiCol5, .foswikiGrid.gutter0 .foswikiCol6,
.foswikiGrid.gutter0 .foswikiCol7,.foswikiGrid.gutter0 .foswikiCol8,
.foswikiGrid.gutter0 .foswikiCol9, .foswikiGrid.gutter0 .foswikiCol10,
.foswikiGrid.gutter0 .foswikiCol11 {  margin-left:0%; }
.foswikiGrid.gutter0 .border { padding-left: 0; margin-left: -1px; }
.foswikiGrid.gutter0 .foswikiCol1 { width: 8.3333%; }
.foswikiGrid.gutter0 .foswikiCol2 { width: 16.6667%; }
.foswikiGrid.gutter0 .foswikiCol3 { width: 25%; }
.foswikiGrid.gutter0 .foswikiCol4 { width: 33.3333%; }
.foswikiGrid.gutter0 .foswikiCol5 { width: 41.6667%; }
.foswikiGrid.gutter0 .foswikiCol6 { width: 50%; }
.foswikiGrid.gutter0 .foswikiCol7 { width: 58.3333%; }
.foswikiGrid.gutter0 .foswikiCol8 { width: 66.6667%; }
.foswikiGrid.gutter0 .foswikiCol9 { width: 75%; }
.foswikiGrid.gutter0 .foswikiCol10 { width: 83.3333%; }
.foswikiGrid.gutter0 .foswikiCol11 { width: 91.6667%; }
.foswikiGrid.gutter0 hr { margin-bottom:0; margin-top:0; }
.foswikiGrid.gutter0 .foswikiRow { margin-top:0;}

/* gutter = 1 */
.foswikiGrid.gutter1 .foswikiCol1, .foswikiGrid.gutter1 .foswikiCol2,
.foswikiGrid.gutter1 .foswikiCol3, .foswikiGrid.gutter1 .foswikiCol4,
.foswikiGrid.gutter1 .foswikiCol5, .foswikiGrid.gutter1 .foswikiCol6,
.foswikiGrid.gutter1 .foswikiCol7,.foswikiGrid.gutter1 .foswikiCol8,
.foswikiGrid.gutter1 .foswikiCol9, .foswikiGrid.gutter1 .foswikiCol10,
.foswikiGrid.gutter1 .foswikiCol11 {  margin-left:1%; }
.foswikiGrid.gutter1 .border { padding-left: 0.4%; margin-left: 0.4%; }
.foswikiGrid.gutter1 .foswikiCol1 { width: 7.4167%; }
.foswikiGrid.gutter1 .foswikiCol2 { width: 15.8333%; }
.foswikiGrid.gutter1 .foswikiCol3 { width: 24.25%; }
.foswikiGrid.gutter1 .foswikiCol4 { width: 32.6667%; }
.foswikiGrid.gutter1 .foswikiCol5 { width: 41.0833%; }
.foswikiGrid.gutter1 .foswikiCol6 { width: 49.5%; }
.foswikiGrid.gutter1 .foswikiCol7 { width: 57.9167%; }
.foswikiGrid.gutter1 .foswikiCol8 { width: 66.3333%; }
.foswikiGrid.gutter1 .foswikiCol9 { width: 74.75%; }
.foswikiGrid.gutter1 .foswikiCol10 { width: 83.1667%; }
.foswikiGrid.gutter1 .foswikiCol11 { width: 91.5833%; }
.foswikiGrid.gutter1 hr { margin-top:0.3462em;margin-bottom:0.3462em;} /* 4.5px */
.foswikiGrid.gutter1 .foswikiRow { margin-top:0.3462em;} /* 4.5px */

/* gutter = 2 */
.foswikiGrid.gutter2 .foswikiCol1, .foswikiGrid.gutter2 .foswikiCol2,
.foswikiGrid.gutter2 .foswikiCol3, .foswikiGrid.gutter2 .foswikiCol4,
.foswikiGrid.gutter2 .foswikiCol5, .foswikiGrid.gutter2 .foswikiCol6,
.foswikiGrid.gutter2 .foswikiCol7,.foswikiGrid.gutter2 .foswikiCol8,
.foswikiGrid.gutter2 .foswikiCol9, .foswikiGrid.gutter2 .foswikiCol10,
.foswikiGrid.gutter2 .foswikiCol11 {  margin-left:2%; }
.foswikiGrid.gutter2 .border { padding-left: 0.9%; margin-left: 0.9%; }
.foswikiGrid.gutter2 .foswikiCol1 { width: 6.5%; }
.foswikiGrid.gutter2 .foswikiCol2 { width: 15%; }
.foswikiGrid.gutter2 .foswikiCol3 { width: 23.5%; }
.foswikiGrid.gutter2 .foswikiCol4 { width: 32%; }
.foswikiGrid.gutter2 .foswikiCol5 { width: 40.5%; }
.foswikiGrid.gutter2 .foswikiCol6 { width: 49%; }
.foswikiGrid.gutter2 .foswikiCol7 { width: 57.5%; }
.foswikiGrid.gutter2 .foswikiCol8 { width: 66%; }
.foswikiGrid.gutter2 .foswikiCol9 { width: 74.5%; }
.foswikiGrid.gutter2 .foswikiCol10 { width: 83%; }
.foswikiGrid.gutter2 .foswikiCol11 { width: 91.5%; }
.foswikiGrid.gutter2 hr { margin-top:0.6925em; margin-bottom:0.6925em;} /* 9px */
.foswikiGrid.gutter2 .foswikiRow { margin-top:0.6925em;} /* 9px */

/* gutter = 3 */
.foswikiGrid.gutter3 .foswikiCol1, .foswikiGrid.gutter3 .foswikiCol2,
.foswikiGrid.gutter3 .foswikiCol3, .foswikiGrid.gutter3 .foswikiCol4,
.foswikiGrid.gutter3 .foswikiCol5, .foswikiGrid.gutter3 .foswikiCol6,
.foswikiGrid.gutter3 .foswikiCol7,.foswikiGrid.gutter3 .foswikiCol8,
.foswikiGrid.gutter3 .foswikiCol9, .foswikiGrid.gutter3 .foswikiCol10,
.foswikiGrid.gutter3 .foswikiCol11 {  margin-left:3%; }
.foswikiGrid.gutter3 .border { padding-left: 1.4%; margin-left: 1.4%; }
.foswikiGrid.gutter3 .foswikiCol1 { width: 5.5833%; }
.foswikiGrid.gutter3 .foswikiCol2 { width: 14.1667%; }
.foswikiGrid.gutter3 .foswikiCol3 { width: 22.75%; }
.foswikiGrid.gutter3 .foswikiCol4 { width: 31.3333%; }
.foswikiGrid.gutter3 .foswikiCol5 { width: 39.9167%; }
.foswikiGrid.gutter3 .foswikiCol6 { width: 48.5%; }
.foswikiGrid.gutter3 .foswikiCol7 { width: 57.0833%; }
.foswikiGrid.gutter3 .foswikiCol8 { width: 65.6667%; }
.foswikiGrid.gutter3 .foswikiCol9 { width: 74.25%; }
.foswikiGrid.gutter3 .foswikiCol10 { width: 82.8333%; }
.foswikiGrid.gutter3 .foswikiCol11 { width: 91.4167%; }
.foswikiGrid.gutter3 hr { margin-top:1.0384em; margin-bottom:1.0384em;} /* 13.5px */
.foswikiGrid.gutter3 .foswikiRow { margin-top:1.0384em;} /* 13.5px */

/* gutter = 4 */
.foswikiGrid .foswikiCol1, .foswikiGrid .foswikiCol2,
.foswikiGrid .foswikiCol3, .foswikiGrid .foswikiCol4,
.foswikiGrid .foswikiCol5, .foswikiGrid .foswikiCol6,
.foswikiGrid .foswikiCol7,.foswikiGrid .foswikiCol8,
.foswikiGrid .foswikiCol9, .foswikiGrid .foswikiCol10,
.foswikiGrid .foswikiCol11 {  margin-left:4%; }
.foswikiGrid .border { padding-left: 1.9%; margin-left: 1.9%; }
.foswikiGrid .foswikiCol1 { width: 4.6667%; }
.foswikiGrid .foswikiCol2 { width: 13.3333%; }
.foswikiGrid .foswikiCol3 { width: 22%; }
.foswikiGrid .foswikiCol4 { width: 30.6667%; }
.foswikiGrid .foswikiCol5 { width: 39.3333%; }
.foswikiGrid .foswikiCol6 { width: 48%; }
.foswikiGrid .foswikiCol7 { width: 56.6667%; }
.foswikiGrid .foswikiCol8 { width: 65.3333%; }
.foswikiGrid .foswikiCol9 { width: 74%; }
.foswikiGrid .foswikiCol10 { width: 82.6667%; }
.foswikiGrid .foswikiCol11 { width: 91.3333%; }
.foswikiRow { margin-top:1.385em; } /* 18px */

/* gutter = 5 */
.foswikiGrid.gutter5 .foswikiCol1, .foswikiGrid.gutter5 .foswikiCol2,
.foswikiGrid.gutter5 .foswikiCol3, .foswikiGrid.gutter5 .foswikiCol4,
.foswikiGrid.gutter5 .foswikiCol5, .foswikiGrid.gutter5 .foswikiCol6,
.foswikiGrid.gutter5 .foswikiCol7,.foswikiGrid.gutter5 .foswikiCol8,
.foswikiGrid.gutter5 .foswikiCol9, .foswikiGrid.gutter5 .foswikiCol10,
.foswikiGrid.gutter5 .foswikiCol11 {  margin-left:5%; }
.foswikiGrid.gutter5 .border { padding-left: 2.4%; margin-left: 2.4%; }
.foswikiGrid.gutter5 .foswikiCol1 { width: 3.75%; }
.foswikiGrid.gutter5 .foswikiCol2 { width: 12.5%; }
.foswikiGrid.gutter5 .foswikiCol3 { width: 21.25%; }
.foswikiGrid.gutter5 .foswikiCol4 { width: 30%; }
.foswikiGrid.gutter5 .foswikiCol5 { width: 38.75%; }
.foswikiGrid.gutter5 .foswikiCol6 { width: 47.5%; }
.foswikiGrid.gutter5 .foswikiCol7 { width: 56.25%; }
.foswikiGrid.gutter5 .foswikiCol8 { width: 65%; }
.foswikiGrid.gutter5 .foswikiCol9 { width: 73.75%; }
.foswikiGrid.gutter5 .foswikiCol10 { width: 82.5%; }
.foswikiGrid.gutter5 .foswikiCol11 { width: 91.25%; }
.foswikiGrid.gutter5 hr { margin-top:1.7307em; margin-bottom:1.7307em; } /* 22.5px */
.foswikiGrid.gutter5 .foswikiRow { margin-top:1.7307em; } /* 22.5px */

.foswikiRow:first-child {
  margin-top:0px !important;
}
.foswikiGrid .foswikiCol1:first-child,
.foswikiGrid .foswikiCol2:first-child,
.foswikiGrid .foswikiCol3:first-child,
.foswikiGrid .foswikiCol4:first-child,
.foswikiGrid .foswikiCol5:first-child,
.foswikiGrid .foswikiCol6:first-child,
.foswikiGrid .foswikiCol7:first-child,
.foswikiGrid .foswikiCol8:first-child,
.foswikiGrid .foswikiCol9:first-child,
.foswikiGrid .foswikiCol10:first-child,
.foswikiGrid .foswikiCol11:first-child,
.foswikiGrid .foswikiCol12:first-child {
  margin-top:0 !important;
  margin-left:0 !important;
  border:0 !important;
  padding-left:0 !important;
}


@media (max-width: 600px) {
  .foswikiGrid .foswikiCol1,
  .foswikiGrid .foswikiCol2,
  .foswikiGrid .foswikiCol3,
  .foswikiGrid .foswikiCol4,
  .foswikiGrid .foswikiCol5,
  .foswikiGrid .foswikiCol6,
  .foswikiGrid .foswikiCol7,
  .foswikiGrid .foswikiCol8,
  .foswikiGrid .foswikiCol9,
  .foswikiGrid .foswikiCol10,
  .foswikiGrid .foswikiCol11,
  .foswikiGrid .foswikiCol12 {
    float:none;
    width:100%;
    padding-left:0;
    min-height:0;
    margin:1.385em 0 0 0;
  }
  .foswikiGrid .border {
    border-left-width:0;
    border-top-width:1px;
    padding-top:1.385em;
  }
}
