/* grid */
.foswikiGrid, .foswikiRow, .foswikiCol {
  box-sizing:border-box;
}

.foswikiRow {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.foswikiCol1, .foswikiCol2, .foswikiCol3, .foswikiCol4, .foswikiCol5,
.foswikiCol6, .foswikiCol7, .foswikiCol8, .foswikiCol9, .foswikiCol10,
.foswikiCol11, .foswikiCol12 {
  float:left;
  position:relative;
  border:0;
}

.foswikiGrid .foswikiCol1 { width: 8.33333333%; }
.foswikiGrid .foswikiCol2 { width: 16.66666667%; }
.foswikiGrid .foswikiCol3 { width: 25%; }
.foswikiGrid .foswikiCol4 { width: 33.33333333%; }
.foswikiGrid .foswikiCol5 { width: 41.66666667%; }
.foswikiGrid .foswikiCol6 { width: 50%; }
.foswikiGrid .foswikiCol7 { width: 58.33333333%; }
.foswikiGrid .foswikiCol8 { width: 66.66666667%; }
.foswikiGrid .foswikiCol9 { width: 75%; }
.foswikiGrid .foswikiCol10 { width: 83.3333333%; }
.foswikiGrid .foswikiCol11 { width: 91.6666667%; }
.foswikiGrid .foswikiCol12 { width: 100%; }
.foswikiRow { margin-top:1.385em; } /* 18px */

.foswikiGrid .foswikiBorder {
  border-color:#ddd;
  border-style:solid;
  border-left-width:1px;
}

/* clear */
.foswikiGrid:before,
.foswikiGrid:after,
.foswikiRow:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

/* offsets */
.foswikiGrid .foswikiOffset0 { margin-left: 0; }
.foswikiGrid .foswikiOffset1 { margin-left: 8.33333333%; }
.foswikiGrid .foswikiOffset2 { margin-left: 16.66666667%; }
.foswikiGrid .foswikiOffset3 { margin-left: 25%; }
.foswikiGrid .foswikiOffset4 { margin-left: 33.33333333%; }
.foswikiGrid .foswikiOffset5 { margin-left: 41.66666667%; }
.foswikiGrid .foswikiOffset6 { margin-left: 50%; }
.foswikiGrid .foswikiOffset7 { margin-left: 58.33333333%; }
.foswikiGrid .foswikiOffset8 { margin-left: 66.66666667%; }
.foswikiGrid .foswikiOffset9 { margin-left: 75%; }
.foswikiGrid .foswikiOffset10 { margin-left: 83.33333333%; }
.foswikiGrid .foswikiOffset11 { margin-left: 91.66666667%; }
.foswikiGrid .foswikiOffset12 { margin-left: 100%; }

/* pushes */
.foswikiGrid .foswikiPush0 { left: 0; }
.foswikiGrid .foswikiPush1 { left: 8.33333333%; }
.foswikiGrid .foswikiPush2 { left: 16.66666667%; }
.foswikiGrid .foswikiPush3 { left: 25%; }
.foswikiGrid .foswikiPush4 { left: 33.33333333%; }
.foswikiGrid .foswikiPush5 { left: 41.66666667%; }
.foswikiGrid .foswikiPush6 { left: 50%; }
.foswikiGrid .foswikiPush7 { left: 58.33333333%; }
.foswikiGrid .foswikiPush8 { left: 66.66666667%; }
.foswikiGrid .foswikiPush9 { left: 75%; }
.foswikiGrid .foswikiPush10 { left: 83.33333333%; }
.foswikiGrid .foswikiPush11 { left: 91.66666667%; }
.foswikiGrid .foswikiPush12 { left: 100%; }

/* pulls */
.foswikiGrid .foswikiPull0 { right: 0; }
.foswikiGrid .foswikiPull1 { right: 8.33333333%; }
.foswikiGrid .foswikiPull2 { right: 16.66666667%; }
.foswikiGrid .foswikiPull3 { right: 25%; }
.foswikiGrid .foswikiPull4 { right: 33.33333333%; }
.foswikiGrid .foswikiPull5 { right: 41.66666667%; }
.foswikiGrid .foswikiPull6 { right: 50%; }
.foswikiGrid .foswikiPull7 { right: 58.33333333%; }
.foswikiGrid .foswikiPull8 { right: 66.66666667%; }
.foswikiGrid .foswikiPull9 { right: 75%; }
.foswikiGrid .foswikiPull10 { right: 83.33333333%; }
.foswikiGrid .foswikiPull11 { right: 91.66666667%; }
.foswikiGrid .foswikiPull12 { right: 100%; }


/* gutter = 0 */
.foswikiGrid.foswikiGutter0 .foswikiCol1, .foswikiGrid.foswikiGutter0 .foswikiCol2,
.foswikiGrid.foswikiGutter0 .foswikiCol3, .foswikiGrid.foswikiGutter0 .foswikiCol4,
.foswikiGrid.foswikiGutter0 .foswikiCol5, .foswikiGrid.foswikiGutter0 .foswikiCol6,
.foswikiGrid.foswikiGutter0 .foswikiCol7,.foswikiGrid.foswikiGutter0 .foswikiCol8,
.foswikiGrid.foswikiGutter0 .foswikiCol9, .foswikiGrid.foswikiGutter0 .foswikiCol10,
.foswikiGrid.foswikiGutter0 .foswikiCol11, .foswikiGrid.foswikiGutter0 .foswikiCol12 {
  padding-left:0%;
  padding-right:0%;
}
.foswikiGrid.foswikiGutter0 hr {
  margin-bottom:0;
  margin-top:0;
}
.foswikiGrid.foswikiGutter0 .foswikiRow {
  margin-top:0;
  margin-left:0;
  margin-right:0;
}

/* gutter = 1 */
.foswikiGrid.foswikiGutter1 .foswikiCol1, .foswikiGrid.foswikiGutter1 .foswikiCol2,
.foswikiGrid.foswikiGutter1 .foswikiCol3, .foswikiGrid.foswikiGutter1 .foswikiCol4,
.foswikiGrid.foswikiGutter1 .foswikiCol5, .foswikiGrid.foswikiGutter1 .foswikiCol6,
.foswikiGrid.foswikiGutter1 .foswikiCol7,.foswikiGrid.foswikiGutter1 .foswikiCol8,
.foswikiGrid.foswikiGutter1 .foswikiCol9, .foswikiGrid.foswikiGutter1 .foswikiCol10,
.foswikiGrid.foswikiGutter1 .foswikiCol11, .foswikiGrid.foswikiGutter1 .foswikiColl12 {
  padding-left:0.5%;
  padding-right:0.5%;
}
.foswikiGrid.foswikiGutter1 hr {
  margin-top:0.3462em;
  margin-bottom:0.3462em; /* 4.5px */
}
.foswikiGrid.foswikiGutter1 .foswikiRow {
  margin-top:0.3462em; /* 4.5px */
  margin-left:-0.5%;
  margin-right:-0.5%;
}

/* gutter = 2 */
.foswikiGrid.foswikiGutter2 .foswikiCol1, .foswikiGrid.foswikiGutter2 .foswikiCol2,
.foswikiGrid.foswikiGutter2 .foswikiCol3, .foswikiGrid.foswikiGutter2 .foswikiCol4,
.foswikiGrid.foswikiGutter2 .foswikiCol5, .foswikiGrid.foswikiGutter2 .foswikiCol6,
.foswikiGrid.foswikiGutter2 .foswikiCol7,.foswikiGrid.foswikiGutter2 .foswikiCol8,
.foswikiGrid.foswikiGutter2 .foswikiCol9, .foswikiGrid.foswikiGutter2 .foswikiCol10,
.foswikiGrid.foswikiGutter2 .foswikiCol11, .foswikiGrid.foswikiGutter2 .foswikiCol12 {
  padding-left:1%;
  padding-right:1%;
 }
.foswikiGrid.foswikiGutter2 hr {
  margin-top:0.6925em;
  margin-bottom:0.6925em; /* 9px */
}
.foswikiGrid.foswikiGutter2 .foswikiRow {
  margin-top:0.6925em; /* 9px */
  margin-left:-1%;
  margin-right:-1%;
}

/* gutter = 3 */
.foswikiGrid.foswikiGutter3 .foswikiCol1, .foswikiGrid.foswikiGutter3 .foswikiCol2,
.foswikiGrid.foswikiGutter3 .foswikiCol3, .foswikiGrid.foswikiGutter3 .foswikiCol4,
.foswikiGrid.foswikiGutter3 .foswikiCol5, .foswikiGrid.foswikiGutter3 .foswikiCol6,
.foswikiGrid.foswikiGutter3 .foswikiCol7,.foswikiGrid.foswikiGutter3 .foswikiCol8,
.foswikiGrid.foswikiGutter3 .foswikiCol9, .foswikiGrid.foswikiGutter3 .foswikiCol10,
.foswikiGrid.foswikiGutter3 .foswikiCol11, .foswikiGrid.foswikiGutter3 .foswikiCol12 {
  padding-left:1.5%;
  padding-right:1.5%;
}
.foswikiGrid.foswikiGutter3 hr {
  margin-top:1.0384em;
  margin-bottom:1.0384em; /* 13.5px */
}
.foswikiGrid.foswikiGutter3 .foswikiRow {
  margin-top:1.0384em; /* 13.5px */
  margin-left:-1.5%; margin-right:-1.5%;
}

/* gutter = 4 */
.foswikiGrid .foswikiCol1, .foswikiGrid .foswikiCol2,
.foswikiGrid .foswikiCol3, .foswikiGrid .foswikiCol4,
.foswikiGrid .foswikiCol5, .foswikiGrid .foswikiCol6,
.foswikiGrid .foswikiCol7,.foswikiGrid .foswikiCol8,
.foswikiGrid .foswikiCol9, .foswikiGrid .foswikiCol10,
.foswikiGrid .foswikiCol11, .foswikiGrid .foswikiCol12 {
  padding-left:2%;
  padding-right:2%
}
.foswikiGrid.foswikiGutter4 .foswikiRow {
  margin-left:-2%;
  margin-right:-2%;
}

/* gutter = 5 */
.foswikiGrid.foswikiGutter5 .foswikiCol1, .foswikiGrid.foswikiGutter5 .foswikiCol2,
.foswikiGrid.foswikiGutter5 .foswikiCol3, .foswikiGrid.foswikiGutter5 .foswikiCol4,
.foswikiGrid.foswikiGutter5 .foswikiCol5, .foswikiGrid.foswikiGutter5 .foswikiCol6,
.foswikiGrid.foswikiGutter5 .foswikiCol7,.foswikiGrid.foswikiGutter5 .foswikiCol8,
.foswikiGrid.foswikiGutter5 .foswikiCol9, .foswikiGrid.foswikiGutter5 .foswikiCol10,
.foswikiGrid.foswikiGutter5 .foswikiCol11, .foswikiGrid.foswikiGutter5 .foswikiCol12 {
  padding-left:2.5%;
  padding-right:2.5%;
}
.foswikiGrid.foswikiGutter5 hr {
  margin-top:1.7307em;
  margin-bottom:1.7307em;  /* 22.5px */
}
.foswikiGrid.foswikiGutter5 .foswikiRow {
  margin-top:1.7307em;  /* 22.5px */
  margin-left:-2.5%;
  margin-right:-2.5%;
}

.foswikiRow:first-child {
  margin-top:0px !important;
}
.foswikiRow:last-child {
  margin-bottom:0px !important;
}
.foswikiGrid .foswikiCol1:first-child,
.foswikiGrid .foswikiCol2:first-child,
.foswikiGrid .foswikiCol3:first-child,
.foswikiGrid .foswikiCol4:first-child,
.foswikiGrid .foswikiCol5:first-child,
.foswikiGrid .foswikiCol6:first-child,
.foswikiGrid .foswikiCol7:first-child,
.foswikiGrid .foswikiCol8:first-child,
.foswikiGrid .foswikiCol9:first-child,
.foswikiGrid .foswikiCol10:first-child,
.foswikiGrid .foswikiCol11:first-child,
.foswikiGrid .foswikiCol12:first-child {
  border-left:0 !important;
  /*padding-left:0 !important;*/
}
.foswikiGrid .foswikiCol1:last-child,
.foswikiGrid .foswikiCol2:last-child,
.foswikiGrid .foswikiCol3:last-child,
.foswikiGrid .foswikiCol4:last-child,
.foswikiGrid .foswikiCol5:last-child,
.foswikiGrid .foswikiCol6:last-child,
.foswikiGrid .foswikiCol7:last-child,
.foswikiGrid .foswikiCol8:last-child,
.foswikiGrid .foswikiCol9:last-child,
.foswikiGrid .foswikiCol10:last-child,
.foswikiGrid .foswikiCol11:last-child,
.foswikiGrid .foswikiCol12:last-child {
  border-right:0 !important;
  /*padding-right:0 !important;*/
}


@media (max-width: 600px) {
  .foswikiGrid .foswikiCol1,
  .foswikiGrid .foswikiCol2,
  .foswikiGrid .foswikiCol3,
  .foswikiGrid .foswikiCol4,
  .foswikiGrid .foswikiCol5,
  .foswikiGrid .foswikiCol6,
  .foswikiGrid .foswikiCol7,
  .foswikiGrid .foswikiCol8,
  .foswikiGrid .foswikiCol9,
  .foswikiGrid .foswikiCol10,
  .foswikiGrid .foswikiCol11,
  .foswikiGrid .foswikiCol12 {
    float:none;
    width:100% !important;
    padding-left:0 !important;
    padding-right:0 !important;
    margin:1.385em 0 0 0 !important;
  }
  .foswikiGrid .foswikiRow {
    margin-left:0 !important;
    margin-right:0 !important;
    display:block;
  }
  .foswikiGrid .foswikiBorder {
    border-left-width:0;
    border-top-width:1px;
    padding-top:1.385em;
  }
  .foswikiGrid > hr {
    display:none;
  }
}
