/* grid */
.foswikiGrid, 
.foswikiRow, 
.foswikiCol {
  box-sizing:border-box;
}

.foswikiRow {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* IE 10 */
  display: -webkit-flex;     /* OLD - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.foswikiCol1,
.foswikiCol2,
.foswikiCol3,
.foswikiCol4,
.foswikiCol5,
.foswikiCol6,
.foswikiCol7,
.foswikiCol8,
.foswikiCol9,
.foswikiCol10,
.foswikiCol11,
.foswikiCol12 {
  float:left;
  position:relative;
  border:0;
}

.foswikiGrid > .foswikiRow > .foswikiCol1 { width: 8.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiCol2 { width: 16.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiCol3 { width: 25%; }
.foswikiGrid > .foswikiRow > .foswikiCol4 { width: 33.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiCol5 { width: 41.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiCol6 { width: 50%; }
.foswikiGrid > .foswikiRow > .foswikiCol7 { width: 58.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiCol8 { width: 66.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiCol9 { width: 75%; }
.foswikiGrid > .foswikiRow > .foswikiCol10 { width: 83.3333333%; }
.foswikiGrid > .foswikiRow > .foswikiCol11 { width: 91.6666667%; }
.foswikiGrid > .foswikiRow > .foswikiCol12 { width: 100%; }
.foswikiRow { margin-top:2%; }

.foswikiGrid > .foswikiRow > .foswikiBorder {
  border-color:#ddd;
  border-style:solid;
  border-left-width:1px;
}

/* clear */
.foswikiGrid:before,
.foswikiGrid:after,
.foswikiRow:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

/* offsets */
.foswikiGrid > .foswikiRow > .foswikiOffset0 { margin-left: 0; }
.foswikiGrid > .foswikiRow > .foswikiOffset1 { margin-left: 8.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiOffset2 { margin-left: 16.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiOffset3 { margin-left: 25%; }
.foswikiGrid > .foswikiRow > .foswikiOffset4 { margin-left: 33.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiOffset5 { margin-left: 41.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiOffset6 { margin-left: 50%; }
.foswikiGrid > .foswikiRow > .foswikiOffset7 { margin-left: 58.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiOffset8 { margin-left: 66.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiOffset9 { margin-left: 75%; }
.foswikiGrid > .foswikiRow > .foswikiOffset10 { margin-left: 83.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiOffset11 { margin-left: 91.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiOffset12 { margin-left: 100%; }

/* pushes */
.foswikiGrid > .foswikiRow > .foswikiPush0 { left: 0; }
.foswikiGrid > .foswikiRow > .foswikiPush1 { left: 8.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiPush2 { left: 16.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiPush3 { left: 25%; }
.foswikiGrid > .foswikiRow > .foswikiPush4 { left: 33.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiPush5 { left: 41.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiPush6 { left: 50%; }
.foswikiGrid > .foswikiRow > .foswikiPush7 { left: 58.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiPush8 { left: 66.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiPush9 { left: 75%; }
.foswikiGrid > .foswikiRow > .foswikiPush10 { left: 83.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiPush11 { left: 91.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiPush12 { left: 100%; }

/* pulls */
.foswikiGrid > .foswikiRow > .foswikiPull0 { right: 0; }
.foswikiGrid > .foswikiRow > .foswikiPull1 { right: 8.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiPull2 { right: 16.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiPull3 { right: 25%; }
.foswikiGrid > .foswikiRow > .foswikiPull4 { right: 33.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiPull5 { right: 41.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiPull6 { right: 50%; }
.foswikiGrid > .foswikiRow > .foswikiPull7 { right: 58.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiPull8 { right: 66.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiPull9 { right: 75%; }
.foswikiGrid > .foswikiRow > .foswikiPull10 { right: 83.33333333%; }
.foswikiGrid > .foswikiRow > .foswikiPull11 { right: 91.66666667%; }
.foswikiGrid > .foswikiRow > .foswikiPull12 { right: 100%; }


/* gutter = 0 */
.foswikiGrid.foswikiGutter0 > .foswikiRow > .foswikiCol1,
.foswikiGrid.foswikiGutter0 > .foswikiRow > .foswikiCol2,
.foswikiGrid.foswikiGutter0 > .foswikiRow > .foswikiCol3,
.foswikiGrid.foswikiGutter0 > .foswikiRow > .foswikiCol4,
.foswikiGrid.foswikiGutter0 > .foswikiRow > .foswikiCol5,
.foswikiGrid.foswikiGutter0 > .foswikiRow > .foswikiCol6,
.foswikiGrid.foswikiGutter0 > .foswikiRow > .foswikiCol7,
.foswikiGrid.foswikiGutter0 > .foswikiRow > .foswikiCol8,
.foswikiGrid.foswikiGutter0 > .foswikiRow > .foswikiCol9,
.foswikiGrid.foswikiGutter0 > .foswikiRow > .foswikiCol10,
.foswikiGrid.foswikiGutter0 > .foswikiRow > .foswikiCol11,
.foswikiGrid.foswikiGutter0 > .foswikiRow > .foswikiCol12 {
  padding-left:0%;
  padding-right:0%;
}
.foswikiGrid.foswikiGutter0 > hr {
  margin-bottom:0;
  margin-top:0;
}
.foswikiGrid.foswikiGutter0 > .foswikiRow {
  margin-top:0;
  margin-left:0;
  margin-right:0;
}

/* gutter = 1 */
.foswikiGrid.foswikiGutter1 > .foswikiRow > .foswikiCol1,
.foswikiGrid.foswikiGutter1 > .foswikiRow > .foswikiCol2,
.foswikiGrid.foswikiGutter1 > .foswikiRow > .foswikiCol3,
.foswikiGrid.foswikiGutter1 > .foswikiRow > .foswikiCol4,
.foswikiGrid.foswikiGutter1 > .foswikiRow > .foswikiCol5,
.foswikiGrid.foswikiGutter1 > .foswikiRow > .foswikiCol6,
.foswikiGrid.foswikiGutter1 > .foswikiRow > .foswikiCol7,
.foswikiGrid.foswikiGutter1 > .foswikiRow > .foswikiCol8,
.foswikiGrid.foswikiGutter1 > .foswikiRow > .foswikiCol9,
.foswikiGrid.foswikiGutter1 > .foswikiRow > .foswikiCol10,
.foswikiGrid.foswikiGutter1 > .foswikiRow > .foswikiCol11,
.foswikiGrid.foswikiGutter1 > .foswikiRow > .foswikiCol12 {
  padding-left:0.5%;
  padding-right:0.5%;
}
.foswikiGrid.foswikiGutter1 > hr {
  margin-top:0.5%;
  margin-bottom:0.5%;

}
.foswikiGrid.foswikiGutter1 > .foswikiRow {
  margin-top:0.5%;
  margin-left:-0.5%;
  margin-right:-0.5%;
}

/* gutter = 2 */
.foswikiGrid.foswikiGutter2 > .foswikiRow > .foswikiCol1,
.foswikiGrid.foswikiGutter2 > .foswikiRow > .foswikiCol2,
.foswikiGrid.foswikiGutter2 > .foswikiRow > .foswikiCol3,
.foswikiGrid.foswikiGutter2 > .foswikiRow > .foswikiCol4,
.foswikiGrid.foswikiGutter2 > .foswikiRow > .foswikiCol5,
.foswikiGrid.foswikiGutter2 > .foswikiRow > .foswikiCol6,
.foswikiGrid.foswikiGutter2 > .foswikiRow > .foswikiCol7,
.foswikiGrid.foswikiGutter2 > .foswikiRow > .foswikiCol8,
.foswikiGrid.foswikiGutter2 > .foswikiRow > .foswikiCol9,
.foswikiGrid.foswikiGutter2 > .foswikiRow > .foswikiCol10,
.foswikiGrid.foswikiGutter2 > .foswikiRow > .foswikiCol11,
.foswikiGrid.foswikiGutter2 > .foswikiRow > .foswikiCol12 {
  padding-left:1%;
  padding-right:1%;
 }
.foswikiGrid.foswikiGutter2 > hr {
  margin-top:1%;
  margin-bottom:1%;
}
.foswikiGrid.foswikiGutter2 > .foswikiRow {
  margin-top:2%;
  margin-left:-1%;
  margin-right:-1%;
}

/* gutter = 3 */
.foswikiGrid.foswikiGutter3 > .foswikiRow > .foswikiCol1,
.foswikiGrid.foswikiGutter3 > .foswikiRow > .foswikiCol2,
.foswikiGrid.foswikiGutter3 > .foswikiRow > .foswikiCol3,
.foswikiGrid.foswikiGutter3 > .foswikiRow > .foswikiCol4,
.foswikiGrid.foswikiGutter3 > .foswikiRow > .foswikiCol5,
.foswikiGrid.foswikiGutter3 > .foswikiRow > .foswikiCol6,
.foswikiGrid.foswikiGutter3 > .foswikiRow > .foswikiCol7,
.foswikiGrid.foswikiGutter3 > .foswikiRow > .foswikiCol8,
.foswikiGrid.foswikiGutter3 > .foswikiRow > .foswikiCol9,
.foswikiGrid.foswikiGutter3 > .foswikiRow > .foswikiCol10,
.foswikiGrid.foswikiGutter3 > .foswikiRow > .foswikiCol11,
.foswikiGrid.foswikiGutter3 > .foswikiRow > .foswikiCol12 {
  padding-left:1.5%;
  padding-right:1.5%;
}
.foswikiGrid.foswikiGutter3 > hr {
  margin-top:1.5%;
  margin-bottom:1.5%;
}
.foswikiGrid.foswikiGutter3 > .foswikiRow {
  margin-top:1.5%;
  margin-left:-1.5%; margin-right:-1.5%;
}

/* gutter = 4 */
.foswikiGrid > .foswikiRow > .foswikiCol1, 
.foswikiGrid > .foswikiRow > .foswikiCol2,
.foswikiGrid > .foswikiRow > .foswikiCol3,
.foswikiGrid > .foswikiRow > .foswikiCol4,
.foswikiGrid > .foswikiRow > .foswikiCol5,
.foswikiGrid > .foswikiRow > .foswikiCol6,
.foswikiGrid > .foswikiRow > .foswikiCol7,
.foswikiGrid > .foswikiRow > .foswikiCol8,
.foswikiGrid > .foswikiRow > .foswikiCol9,
.foswikiGrid > .foswikiRow > .foswikiCol10,
.foswikiGrid > .foswikiRow > .foswikiCol11,
.foswikiGrid > .foswikiRow > .foswikiCol12 {
  padding-left:2%;
  padding-right:2%
}
.foswikiGrid.foswikiGutter4 > .foswikiRow {
  margin-left:-2%;
  margin-right:-2%;
}

/* gutter = 5 */
.foswikiGrid.foswikiGutter5 > .foswikiRow > .foswikiCol1,
.foswikiGrid.foswikiGutter5 > .foswikiRow > .foswikiCol2,
.foswikiGrid.foswikiGutter5 > .foswikiRow > .foswikiCol3,
.foswikiGrid.foswikiGutter5 > .foswikiRow > .foswikiCol4,
.foswikiGrid.foswikiGutter5 > .foswikiRow > .foswikiCol5,
.foswikiGrid.foswikiGutter5 > .foswikiRow > .foswikiCol6,
.foswikiGrid.foswikiGutter5 > .foswikiRow > .foswikiCol7,
.foswikiGrid.foswikiGutter5 > .foswikiRow > .foswikiCol8,
.foswikiGrid.foswikiGutter5 > .foswikiRow > .foswikiCol9,
.foswikiGrid.foswikiGutter5 > .foswikiRow > .foswikiCol10,
.foswikiGrid.foswikiGutter5 > .foswikiRow > .foswikiCol11,
.foswikiGrid.foswikiGutter5 > .foswikiRow > .foswikiCol12 {
  padding-left:2.5%;
  padding-right:2.5%;
}
.foswikiGrid.foswikiGutter5 > hr {
  margin-top:2.5%;
  margin-bottom:2.5%;
}
.foswikiGrid.foswikiGutter5 > .foswikiRow {
  margin-top:2.5%;
  margin-left:-2.5%;
  margin-right:-2.5%;
}

.foswikiRow:first-child {
  margin-top:0px !important;
}
.foswikiRow:last-child {
  margin-bottom:0px !important;
}
.foswikiGrid > .foswikiRow > .foswikiCol1:first-child,
.foswikiGrid > .foswikiRow > .foswikiCol2:first-child,
.foswikiGrid > .foswikiRow > .foswikiCol3:first-child,
.foswikiGrid > .foswikiRow > .foswikiCol4:first-child,
.foswikiGrid > .foswikiRow > .foswikiCol5:first-child,
.foswikiGrid > .foswikiRow > .foswikiCol6:first-child,
.foswikiGrid > .foswikiRow > .foswikiCol7:first-child,
.foswikiGrid > .foswikiRow > .foswikiCol8:first-child,
.foswikiGrid > .foswikiRow > .foswikiCol9:first-child,
.foswikiGrid > .foswikiRow > .foswikiCol10:first-child,
.foswikiGrid > .foswikiRow > .foswikiCol11:first-child,
.foswikiGrid > .foswikiRow > .foswikiCol12:first-child {
  border-left-width:0 !important;
  /*padding-left:0 !important;*/
}
.foswikiGrid > .foswikiRow > .foswikiCol1:last-child,
.foswikiGrid > .foswikiRow > .foswikiCol2:last-child,
.foswikiGrid > .foswikiRow > .foswikiCol3:last-child,
.foswikiGrid > .foswikiRow > .foswikiCol4:last-child,
.foswikiGrid > .foswikiRow > .foswikiCol5:last-child,
.foswikiGrid > .foswikiRow > .foswikiCol6:last-child,
.foswikiGrid > .foswikiRow > .foswikiCol7:last-child,
.foswikiGrid > .foswikiRow > .foswikiCol8:last-child,
.foswikiGrid > .foswikiRow > .foswikiCol9:last-child,
.foswikiGrid > .foswikiRow > .foswikiCol10:last-child,
.foswikiGrid > .foswikiRow > .foswikiCol11:last-child,
.foswikiGrid > .foswikiRow > .foswikiCol12:last-child {
  border-right-width:0 !important;
  /*padding-right:0 !important;*/
}


@media screen and (max-width: 600px) {
  .foswikiGrid > .foswikiRow > .foswikiCol1,
  .foswikiGrid > .foswikiRow > .foswikiCol2,
  .foswikiGrid > .foswikiRow > .foswikiCol3,
  .foswikiGrid > .foswikiRow > .foswikiCol4,
  .foswikiGrid > .foswikiRow > .foswikiCol5,
  .foswikiGrid > .foswikiRow > .foswikiCol6,
  .foswikiGrid > .foswikiRow > .foswikiCol7,
  .foswikiGrid > .foswikiRow > .foswikiCol8,
  .foswikiGrid > .foswikiRow > .foswikiCol9,
  .foswikiGrid > .foswikiRow > .foswikiCol10,
  .foswikiGrid > .foswikiRow > .foswikiCol11,
  .foswikiGrid > .foswikiRow > .foswikiCol12 {
    float:none;
    width:100% !important;
    padding-left:0 !important;
    padding-right:0 !important;
    margin:1.385em 0 0 0 !important;
  }
  .foswikiCol:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
  .foswikiGrid > .foswikiRow {
    margin-left:0 !important;
    margin-right:0 !important;
    display:block;
  }
  .foswikiGrid > .foswikiRow > .foswikiBorder {
    border-left-width:0;
    border-top-width:1px;
    padding-top:1.385em;
  }
  .foswikiGrid > .foswikiRow > .foswikiBorder:first-of-type {
    border-top-width:0;
  }
  .foswikiGrid > hr {
    display:none;
  }
}

